<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/style.css" />
  <title>Help</title>
</head>

<body>
  <div class="div-main">
    {{>header}}
    <p class="para-help">
      Please enter your city name and click Submit. <br>
      You can narrow down your search by specifying
      province/state/country. <br> <br>
      <b>Examples:</b> <br>
      Gujrat in India; Gujrat in Pakistan <br>
      Paris in Texas ; Paris in France. <br>
      Kingston in New York ; Kingston in Jamaica

    </p>
  </div>
  {{>footer}}
</body>

</html>