<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css" />
    <title>Weather</title>
</head>

<body>
    <div class="div-main">
        {{>header}}
        <p>Use this site to get your weather!</p>
        <form action="" class="frm-location">
            <input type="text" name="" id="" class="txt-location" placeholder="location">
            <input type="submit" value="Submit" class="btn-submit">
        </form>
        <p class="para-one"></p>
        <p class="para-two"></p>

    </div>


    {{>footer}}

    <script src="./js/app.js"></script>
</body>

</html>