<header>
    <h1> {{title}} </h1>

    <ul class="ul-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
</header>